body {
  font-family: sans-serif;
  background-color: lightgray;
}

form {
  background-color: darkgrey;
  width: 20em;
  margin: 2em 5em;
  padding: 1em 1em;
}

#register-btn {
  cursor: not-allowed;
  background-color: white;
  margin: 0 0 1em;
  width: 5em;
}

#password {
  margin: 0 0 1em 0;
}
